[submodule "Source/lib/bwa"]
	path = Source/lib/bwa
	url = https://github.com/lh3/bwa
[submodule "Source/lib/seq-align"]
	path = Source/lib/seq-align
	url = https://github.com/noporpoise/seq-align
[submodule "Source/lib/Shifted-Hamming-Distance"]
	path = Source/lib/Shifted-Hamming-Distance
	url = https://github.com/CMU-SAFARI/Shifted-Hamming-Distance
[submodule "Source/lib/edlib"]
	path = Source/lib/edlib
	url = https://github.com/Martinsos/edlib
[submodule "Source/lib/MAGNET"]
	path = Source/lib/MAGNET
	url = https://github.com/BilkentCompGen/MAGNET
[submodule "Source/lib/opal"]
	path = Source/lib/opal
	url = http://github.com/Martinsos/opal
[submodule "Source/lib/Complete-Striped-Smith-Waterman-Library"]
	path = Source/lib/Complete-Striped-Smith-Waterman-Library
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library
